<!-- BEGIN .{{prefix}}shortcuts -->

<div class="{{prefix}}shortcuts-section">
	<ul>
		<li><a class="bg-blue" href="inbox.html"><span class="fa fa-envelope fa-4x"></span><span class="box-caption">Mail</span><em class="counter">14</em></a></li>
		<li><a class="bg-orange-dark" href="calendar.html"><span class="fa fa-calendar fa-4x"></span><span class="box-caption">Calendar</span><em class="counter"></em></a></li>
		<li><a class="bg-purple" href="gmap-xml.html"><span class="fa fa-map-marker fa-4x"></span><span class="box-caption">Maps</span><em class="counter"></em></a></li>
		<li><a class="bg-blue-dark" href="invoice.html"><span class="fa fa-book fa-4x"></span><span class="box-caption">Invoice</span><em class="counter"></em></a></li>
		<li><a class="bg-green-light" href="gallery.html"><span class="fa fa-picture-o fa-4x"></span><span class="box-caption">Gallery</span><em class="counter">99</em></a></li>
		<li><a class="bg-pink-dark selected" href="profile.html"><span class="fa fa-user fa-4x"></span><span class="box-caption">My Profile</span><em class="counter"></em></a></li>
	</ul>
</div>
<!-- END .{{prefix}}shortcuts -->