
$leftColumnWidth: 220px;
$badgeBlue: #0091d9;
$activityTriggerColor: #c4bab6;
$projectLabelColor: #bfbfbf;
$projectToggle: #555;
$projectToggleFontSize: 14px;
$headerRigtAreaBtnsMargin: 6px;
$headerRigtAreaBtnsColor: #6D6A69;
$headerHeight: 49px;
$headerMenuTopHeight: 71px;
$ribbonHeight: 40px;

$gredientTop: #f3f3f3;
$headerBackgroundColor2: #f3f3f3;

$publicHeaderHeight: 71px;
$header-form-control: #bfbfbf;
$header-form-btn: #6D6A69;
$header-ajax-notification: #757575;
$publicheader-background: #f4f4f4;