
$leftColumnWidth: 220px;
$minifiedSidebar: 45px;
$whiteColor: #fff;
$lightWhiteColor: #eee;
$greyColor: #999;
$sidebarLinkColor: #c0bbb7;
$sidebarFontSize: 14px;
$sidebarLinkHoverColor: #acacac;
$sidebarLinkFocus: #C9C9C9;
$blueColor: #3276B1;

$sidebar-top: #3a3633;
$sidebar-bottom: #2a2725;

$sidebar-ul-background: #454545;
$sidebar-round-top: #ED1C24;
$sidebar-sub-nav: #7A7A7A;
$sidebar-card-small-text: #7E7E7E;
$sidebar-minify-border: #302F2F;
$sidebar-minify-color: #A8A8A8;
$sidebar-minify-hover-background: #646464;
$sidebar-minify-hover-color: #E4E4E4;
$sidebar-minify-parent-left-border: #bfbfbf;
$sidebar-minify-parent-top-border: #D8D4D4;

$sidebar-minify-li-bottom-border: #1A1817;
$sidebar-minify-li-top-border: #525151;
$sidebar-minify-chat-dropdown-border: $sidebar-minify-parent-left-border;

$sidebar-menu-on-top-border: #4E4E4E;
$sidebar-menu-on-top-hover-border: #c7c7c7;
$sidebar-menu-on-top-link: #636363;
$sidebar-menu-on-top-sub-nav-border-bottom:  #BD2A2A
