$de-body-container-bdr: rgba(34,38,46,.4);
$de-header-background: #22262e;
$de-activity-btn-background: #0d0f12;
$de-activity-btn-badge: #0aa699;
$de-project-label-color: #697B92;
$de-project-label-shadow: #111318;
$de-project-dropdown-trigger: #B9B9B9;
$de-red: #fb3c4a;
$de-ribbon: #e6e6e6;
$de-ribbon-color: #747474;
$de-ribbon-active-color: 868686;
$de-sidebar-bg: #1b1e24;
$de-menu-link-color: #8b91a0;
$de-menu-link-hover-bg: #30343D;
$de-menu-top-bg1: #04070c;
$de-menu-top-bg2: #2e3e57;
$de-subnav-link: #D8DEE5;

$de-online: #0aa699;

$de-btn-ribbon-bg1: #6f7d94;
$de-btn-ribbon-bg2: #697486;

$de-minify-bg: #434953;
$de-minify-hover-bg: #5C6C86;
$de-minify-hover-color: #E1E8F3;
$de-minify-border-bottom-color: #131416;
$de-minify-border-top-color: #303031;
$de-superbox-list-active: #1b1e24;
$de-primary: #36AECC;