$glass-yellow-2: #FFD600;
$glass-purple: #623995;

$glass-green: rgba(144,255,146,.5);
$glass-green-bdr: rgba(144,255,146,.5);
$glass-green-light: rgba(127,207,113,.5);
$glass-green-light-bdr: rgba(127,207,113,.5);
$glass-green-dark: rgba(135,233,117,.5);
$glass-green-dark-bdr: rgba(135,233,117,.5);
$glass-purple: rgba(122,72,185,.43);
$glass-purple-bdr: rgba(98,57,149,.43);
$glass-magenta: rgba(110,54,113,.43);
$glass-magenta-bdr: rgba(76,38,78,.43);
$glass-pink: rgba(233,157,201,.43);
$glass-pink-bdr: rgba(233,157,201,.43);
$glass-pink-dark: rgba(218,99,169,.43);
$glass-pink-dark-bdr: rgba(208,58,146,.43);
$glass-blue-light: rgba(184,227,243,.43);
$glass-blue-light-bdr: rgba(140,210,236,.43);
$glass-teal: rgba(124,221,219,.83);
$glass-teal-bdr: rgba(84,210,208,.83);
$glass-blue: rgba(59,184,235,.43);
$glass-blue-bdr: rgba(59,184,235,.43);
$glass-blue-dark: rgba(29,61,104,.43);
$glass-blue-dark-bdr: rgba(29,61,104,.43);
$glass-darken: rgba(0,0,0,.23);
$glass-darken-bdr: rgba(0,0,0,.23);
$glass-yellow: rgba(253,236,184,.43);
$glass-yellow-bdr: rgba(253,236,184,.43);
$glass-orange: rgba(255,159,71,.43);
$glass-orange-bdr: rgba(255,159,71,.43);
$glass-orange-dark: rgba(255,161,87,.43);
$glass-orange-dark-bdr: rgba(255,161,87,.43);
$glass-red: rgba(255,7,7,.43);
$glass-red-bdr: rgba(255,7,7,.43);
$glass-red-light: rgba(252,61,61,.43);
$glass-red-light-bdr: rgba(252,61,61,.43);
$glass-white: rgba(255,255,255,.33);
$glass-white-bdr: rgba(255,255,255,.43);


$glass-info: rgba(164,232,230,.83);
$glass-primary: rgba(71,188,236,.83);
$glass-btn-primary-border: rgba(117,205,241,.83);
$glass-btn-info-border: rgba(124,221,219,.83);
$glass-tab-active-shadow: #ccf0ff;
$glass-radio-bg: #d2e8ff;


$glass-alert-info: rgba(174,207,233,.43);
$glass-alert-info-color: #E7F1FF;
$glass-alert-warning: rgba(255,242,200,.4);
$glass-alert-success-border: rgba(132,233,177,.5);
$glass-alert-success: rgba(120,201,156,.5);
$glass-alert-danger-border: #953b39;
$glass-alert-danger: rgba(194,101,101,.7);


$glass-text-success: #90FF92;
$glass-text-primary: #E2F2FF;


$glass-btn-success: rgba(144,255,146,.5);
$glass-btn-success-bdr: rgba(0,246,4,.83);
$glass-btn-danger: rgba(236,52,74,.83);
$glass-btn-danger-bdr: rgba(217,20,44,.83);
$glass-btn-warning: rgba(245,206,122,.83);
$glass-btn-warning-bdr: rgba(245,206,122,.83);
$glass-minifyme: #4dd1ac;