$gs-header-bg1: #f78c40;
$gs-header-bg2: #d67632;
$gs-shadow: #985813;
$gs-activity-dropdown-toggle-bg1: #DD7C37;
$gs-activity-dropdown-toggle-bg2: #b9662b;
$gs-activity-dropdown-toggle-hover-bg1: #dd7a35;
$gs-activity-dropdown-toggle-hover-bg2: #984a13;
$gs-activity-dropdown-toggle-border: #f09d61;
$gs-search-form-control-border: #CA854F;
$gs-search-form-btn: #DF9B45;
$gs-dropdown-color: #4E361B;
$gs-dropdown-border: #ADADAD;
$gs-dropdown-bg: #FDDFB3;
$gs-dropdown-divider: #EBC7A6;
$gs-dropdown-shadow: rgba(61,35,14,.55);
$gs-dropdown-active: #EC9519;
$gs-ribbon-link: #7c7c7c;
$gs-ribbon-link-active: #5F5F5F;
$gs-sidebar-shortcut-toggle-border: #E2E2E2;
$gs-sidebar-shortcut-toggle-color: #444444;
$gs-sidebar-shortcut-toggle-arrow: #c0bbb7;
$gs-nav-bg-1: #f2f2f2;
$gs-nav-bg-2: #f9f9f9;
$gs-nav-border: #DFDFDF;
$gs-nav-color: #DFDFDF;
$gs-nav-icon-color: #8AA1B3;
$gs-nav-active-border: #4D8BA5;

$gs-page-footer: #3D3B39;
$gs-minified-border: #E9E4E4;
$gs-shortcut-bg: rgba(25, 16, 6, 0.85);

$form-control-border: #a3a3a3;