$md-header-bg: #2196F3;
$md-body-bg: #edecec;
$md-footer-bg: #455A64;
$md-ajax-dropdown-bg: #D8F4FF;
$md-breadcrumb-link: #374850;
$md-red: #F44336;
$md-nav-link: #4C4C4C;
$md-nav-link-hover: rgba(69,69,69,.05);
$md-nav-caret: #A0F;
$md-blue-dark: #1565C0;
$md-alert-warning-bdr: #F9A825;
$md-alert-warning-color: #5A4E3F;
$md-alert-warning-bg: #FFEB3B;
$md-alert-success-bdr: #388E3C;
$md-alert-success-color: #fff;
$md-alert-success-bg: #4CAF50;
$md-alert-info-bdr: #03A9F4;
$md-alert-info-color: #01579B;
$md-alert-info-bg: #B3E5FC;
$md-alert-danger-bdr: #B71C1C;
$md-alert-danger-bg: #F44336;

// colors
$md-green: #4CAF50;
$md-green-dark: #2E7D32;
$md-green-light: #43A047;
$md-purple: #9C27B0;
$md-magenta: #A0F;
$md-pink: #E91E63;
$md-pink-dark: #AD1457;
$md-blue: #2196F3;
$md-blue-light: #03A9F4;
$md-blue-dark: #1565C0;
$md-teal: #009688;
$md-yellow: #FFEB3B;
$md-orange: #FF9800;
$md-orange-dark: #E65100;
$md-red: #F44336;
$md-red-light: #FF5252;

// btns
$md-primary-border: #0c7cd5;
$md-success-border: #388E3C;
$md-danger-border: #f32c1e;
$md-warning-border: #cc7a00;
$md-warning: #FF5722;



// conditional colors
$md-success: #00C853;