$ps-logo-space-bg: #71a06a;
$ps-activity-dropdown-toggle-bg1: #5a8354;
$ps-activity-dropdown-toggle-bg2: #8fb489;
$ps-activity-dropdown-toggle-color: #e8efe7;
$ps-activity-dropdown-toggle-border: #bfbfbf;
$ps-sidebar-bg: #3a3f51;
$ps-nav-link: #bbc0cf;
$ps-nav-active-bg: #363a4b;
$ps-nav-hover-bg: #313645;
$ps-minifyme-bg: #71a06a;
$ps-minifyme-hover-bg: #8fb489;