$ul-header-background: #2C3742;
$ul-superbox-img-background: #9EA8B1;
$ul-activity-btn-badge: #006fa6;
$ul-red: #DB4A67;
$ul-activity-btn-color: #C5C6CA;
$ul-project-dropdown-trigger: #B2C1D5;
$ul-dropdown-item-hover-bg: #3E90D4;
$ul-search-form-border: #0F1217;
$ul-search-form-bg: #161B22;
$ul-sa-aside-left-bg1: #F7F7F7;
$ul-sa-aside-left-bg2: #cacaca;
$ul-sidebar-shortcut-toggle: #33455A;
$ul-sidebar-nav-link: #69737A;
$ul-sidebar-nav-link-active: #202427;
$ul-sidebar-bdb: #E6E6E6;
$ul-minifyme-bg: #D7DAE2;
$ul-minifyme-color: #7E7E7E;
$ul-menu-top-bdr: #B8B8B8;
$ul-menu-top-dropdown-bg: #2e3e57;
$ul-ribbon-btn: #9498A0;
$ul-ribbon-link: #7c7c7c;