@import "../variables";

.form-horizontal {
	.control-label{
		text-align: right;
	    margin-bottom: 0;
	    padding-top: 7px;
	}
}
fieldset {
    position: relative;
}
.bootstrap-duallistbox-container label,
.form header,
legend {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    background: $white;
    font-size: rem($baseFontSize + 3px);
    color: $gray-darker;
    margin: 25px 0 20px;
}

.input-group-addon{
	width: auto;
	min-width: 2.46154rem;
	border-right: 1px solid $gray-mid-light;
}
.input-group-btn>.btn+.btn {
    margin-left: -1px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-icon-left>i,
.input-icon-right>i {
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: rem($baseFontSize + 3px);
    color: #bfbfbf;
}
.input-icon-left>i {
    right: auto;
    left: 24px;
}
.input-icon-left .form-control {
    padding-left: 29px;
}
.input-icon-right {
    position: relative;
}

.toggle-demo {
    position: absolute;
    top: 10px;
    right: -8px;
    display: block;
    width: 154px;
    height: auto;
    z-index: 99;
    opacity: .9;
    > span {
	    display: inline-block;
	    float: left;
	    margin-right: 5px;
	    line-height: 21px;
	    color: #757575;
	}
	.btn-group {
	    width: 100px;
	    float: left;
	}
}



.input-xs {
    height: 24px;
    padding: 2px 10px;
    font-size: rem($baseFontSize - 2px);
    line-height: 1.5;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: rem($baseFontSize - 1px);
    line-height: 1.5;
    @include css3(border-radius,2px);
}
.input-lg {
    height: 45px;
    padding: 10px 16px;
    font-size: rem($baseFontSize + 4px);
    line-height: 1.33;
    @include css3(border-radius,3px);
}
.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: rem($baseFontSize + 5px);
    padding: 10px 16px 10px 40px;
}
select.input-lg {
    height: 45px !important;
    line-height: 45px;
}
.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px !important;
    font-size: rem($baseFontSize + 5px);
    padding: 10px 16px 10px 40px;
}
.icon-addon .fa,
.icon-addon.addon-md .fa{
    position: absolute;
    z-index: 2;
    left: 10px;
    width: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    top: 50%;
    margin-top: -3%;
}
.icon-addon.addon-lg .fa{
    font-size: rem($baseFontSize + 5px);
    left: 11px;
}

.form-actions {
    display: block;
    padding: 13px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(249,249,249,.9);
    margin-top: 25px;
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: -13px;
    text-align: right;
}
.row-reverse{
	flex-direction:row-reverse;
}

#buttonGroupForm .btn-group .form-control-feedback,
#productForm .inputGroupContainer .form-control-feedback, #productForm .selectContainer .form-control-feedback {
    top: 0;
    right: -15px;
}
#buttonGroupForm .btn-group .form-control-feedback {
    right: -32px;
}
@media (max-width: 1200px) {
  .control-label,
  .form-horizontal .control-label {
    text-align: left;
  }
}

@media (max-width: 767px){
	.form-horizontal {
		.control-label{
			text-align: left;
		}
	}
}


