@import "../variables";

#header.publicheader{
  display: none;
}
.lockscreen {
    height: 250px;
    left: 50%;
    margin-left: -(478px / 2);
    margin-top: ( -250px / 2 - 56px );
    position: absolute;
    top: 50%;
    width: 478px;
    .logo {
        padding: 15px 0;
        display: block;
    }
    .logo + div {
        background: $white;
        box-shadow: -31px 32px 53px rgba(0, 0, 0, .2);
        @include css3(border-radius,-31px 32px 53px rgba(0, 0, 0, .2));
        overflow: hidden;
        padding: 13px;
        position: relative;
    }
    .logo >:first-child {
        margin: 0
    }
    .logo img {
        width: 29px;
        margin-top: -4px;
        margin-right: -2px;
    }
    .logo + div >img {
        float: left;
    }
    .logo + div > img + div {
        float: right;
        width: 318px;
    }
    .logo + div > img + div >:first-child {
        margin-top: 0;
    }
    .logo + div > img + div>:first-child>:first-child {
        opacity: .1;
        padding: 15px;
    }
    .logo + div > img + div >:first-child>small {
        display: block;
        padding-top: 5px;
    }
    .logo + div > img + div>:first-child+p {
        margin-bottom: 12px;
    }
}
@media (max-width:767px) {
    .lockscreen .logo+div>img {
        float: none!important;
    }
    .lockscreen {
        height: auto;
        left: 5%;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        width: 90%;
        text-align: center;
    }
    .lockscreen .logo+div>img+div {
        float: none;
        width: 100%;
        height: auto;
    }
}