@import "../variables";

// profile page start
.air {
    position: absolute;
    z-index: 5;
}
.air-bottom-right {
    bottom: 0;
    right: 0;
}
.profile-pic {
    text-align: right;
    >img {
        @include css3(border-radius,0);
        position: relative;
        border: 5px solid $whiteColor;
        top: -30px;
        left: 10px;
        display: inline-block;
        text-align: right;
        z-index: 4;
        max-width: 100px;
        margin-bottom: -30px;
    }
}
.profile-carousel .carousel-inner {
    max-height: 150px
}
.friends-list {
    li{
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 3px;
      padding: 0;
    }
    img {
        width: 35px;
        border: 1px solid $whiteColor;
        outline: 1px solid #bfbfbf;
    }
}
.profile-link-btn {
    color: $greyColor;
    font-size:rem($baseFontSize + 1px);
}
time.icon {
    font-size:rem($baseFontSize + 1px);
    display: block;
    position: relative;
    width: 35px;
    height: 43px;
    background-color: $whiteColor;
    margin: 3px auto;
    @include css3(border-radius,7px);
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 $whiteColor,
                0 3px 0 #EEE9E9, 0 4px 0 $whiteColor,
                0 5px 0 $whiteColor, 0 0 0 1px #D3D3D3;
    overflow: hidden;
    strong {
        position: absolute;
        top: 0;
        padding: 2px 0;
        color: $whiteColor;
        background-color: #3a3633;
        -webkit-box-shadow: 0 2px 0 #3a3633;
        box-shadow: 0 2px 0 #3a3633;
        @include css3(border-radius,6px 6px 0 0);
    }
    em {
        position: absolute;
        bottom: 3px;
        color: $blueColor;
    }
    span {
        width: 100%;
        font-size:rem($baseFontSize + 2px);
        letter-spacing: -.05em;
        padding-top: 21px;
        color: #2f2f2f;
    }
}
time.icon * {
    display: block;
    width: 100%;
    font-size:rem($baseFontSize - 3px);
    font-weight: 700;
    font-style: normal;
    text-align: center
}
.user {
    display: block;
    margin: 0 15px 15px 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    img {
        float: left;
        width: 35px;
        margin-right: 5px
    }
    .email {
        color: $greyColor;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap
    }
}
.profile-message {
    background: none!important;
    height: auto!important;
    @include css3(box-shadow,none !important); 
    overflow: hidden;
    li.message.message-reply {
        margin-left: 85px!important;
        background: #F7F7F7;
        padding: 10px;
        margin: 3px 0 0 20px
    }
    li.message.message-reply img {
        width: 35px!important
    }
    li.message.message-reply .message-text {
        margin-left: 45px!important
    }
    .wall-comment-reply {
        padding-left: 85px;
        margin-left: 0;
        margin-bottom: 20px
    }
}
.timeline-seperator {
    display: block;
    text-align: center;
    color: $greyColor;
    margin: 20px 0 0;
    >:first-child {
        padding: 4px 5px;
        border: 1px dashed rgba(0, 0, 0, .1);
        background: $whiteColor;
        font-size:rem($baseFontSize - 2px);
        @include css3(border-radius,4px);
    }
    .btn, 
    .btn+.dropdown-menu {
        margin-right: 15px
    }
    &:after {
        display: block;
        content: " ";
        margin: 0 20px;
        border-bottom: 1px dashed rgba(0, 0, 0, .1);
        margin-top: -8px;
    }
}
.direction-inverse{
  flex-direction:row-reverse;
}
.rel-wrap{
  position: relative;
  .abs-left{
    position: absolute;
    left: 0;
    top: -5px;
  }
}
@media (max-width:979px) {
  .carousel-indicators{
    bottom: auto;
    top: 35px;
  }
  .profile-pic>img {
      width: 110px;
  }
  .profile-pic {
    float: left;
    text-align: right;
    >img {
        margin-right: 10px;
    }
    +div,
    +div+div {
        padding-left: 30px;
        padding-right: 30px;
    }
  }
}
// profile page end