.sa-aside-left .sa-left-menu  .chat-users .chat-learnmore-btn {
	margin-top: 10px;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 3px 0;
    border-radius: 5px;
    font-size: 0.92308rem;
    line-height: 1.5;
}