/*------------------------------------
  Tables v4
------------------------------------*/

[class*="u-table--v4"] {
  margin-bottom: 0;

  th,
  td {
    color: inherit;
    vertical-align: middle;
    @include px-to-rem(padding, 20px);
    border: none;

    &:first-child,
    &.g-first-child {
      text-align: center;
    }
  }

  th {
    font-weight: 400;
    border-bottom: none !important;
  }

  td {
    background-color: $g-color-gray-light-v8;
    font-weight: 300;
    border-bottom: 2px solid $g-color-white;
    @include px-to-rem(padding-top, 16px);
    @include px-to-rem(padding-bottom, 16px);
  }

  // .opened {
  //   & + tr {
  //     background-color: $g-color-gray-light-v8;
  //   }
  // }

  // .thead-light {
  //   th {
  //     color: $g-color-gray-dark-v6;
  //     background-color: $g-color-gray-light-v8;
  //     border-color: $g-color-gray-light-v8;
  //   }
  // }

  // &.table-hover {
  //   tbody {
  //     tr:hover {
  //       background-color: rgba($g-color-gray-light-v8, .4);
  //     }
  //   }
  // }

  // &.table-striped {
  //   tbody {
  //     tr:nth-of-type(2n+1) {
  //       background-color: $g-color-gray-light-v8;
  //     }
  //   }
  // }
}

.u-table--v4--bordered {
  th,
  td {
    border-left: 1px solid;
  }
}
