{{!-- blank.hbs --}}
{{#> layout title=pageTitle parentPage='app-views' firstLevelChild='forum-layout' secondLevelChild='forum-topic'}}
	{{#*inline "sa-page-content"}}
		<div class="d-flex w-100 home-header">
			<div>
				<h1 class="page-header"><i class="fa-fw fa fa-home"></i> App Views <span>> Forum Layout > Topic View</span></h1>				
			</div>
			<div class="ml-auto">
				<ul class="sa-sparks">
					<li class="sparks-info">
						<h5> <small>My Income</small> <span class="text-blue">$47,171</span></h5>
						<div class="sparkline text-blue d-none d-xl-block">
							1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
						</div>
					</li>
					<li class="sparks-info">
						<h5> <small>Site Traffic</small> <span class="text-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
						<div class="sparkline text-purple d-none d-xl-block">
							110,150,300,130,400,240,220,310,220,300, 270, 210
						</div>
					</li>
					<li class="sparks-info">
						<h5> <small>Site Orders</small> <span class="text-green-dark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
						<div class="sparkline text-green-dark d-none d-xl-block">
							110,150,300,130,400,240,220,310,220,300, 270, 210
						</div>
					</li>
				</ul>				
			</div>
		</div>
		<div class="d-flex w-100">

			<div class="well w-100">
				
				<table class="table table-striped table-forum">
					<thead>
						<tr>
							<th colspan="2"><a href="forum.html"> Projects </a> > Business Requirement Docs</th>
							<th class="text-center hidden-xs-down hidden-sm-down" style="width: 100px;">Topics</th>
							<th class="text-center hidden-xs-down hidden-sm-down" style="width: 100px;">Posts</th>
							<th class="hidden-xs-down hidden-sm-down" style="width: 200px;">Last Post</th>
						</tr>
					</thead>
					<tbody>
						
						<!-- TR -->
						<tr class="table-warning">
							<td class="icon-cell"><i class="fa fa-map-pin fa-2x text-danger"></i></td>
							<td>
								<h4><a href="forum-post.html">
									Welcome message
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
						
						<!-- TR -->
						<tr class="table-warning">
							<td class="icon-cell"><i class="fa fa-map-pin fa-2x text-danger"></i></td>
							<td>
								<h4><a href="forum-post.html">
									Latest Updates
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
						
						<!-- TR -->
						<tr>
							<td colspan="2">
								<h4><a href="forum-post.html">
									Nam quam nunc blandit vel
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
						
						<!-- TR -->
						<tr>
							<td colspan="2">
								<h4><a href="forum-post.html">
									Maecenas nec odio et ante tincidun
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
	
						<!-- TR -->
						<tr>
							<td colspan="2">
								<h4><a href="forum-post.html">
									Donec sodales sagittis magna
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
	
						<!-- TR -->
						<tr>
							<td colspan="2">
								<h4><a href="forum-post.html">
									Sed consequat, leo eget bibendum sodales
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
	
						<!-- TR -->
						<tr>
							<td colspan="2">
								<h4><a href="forum-post.html">
									Consectetuer adipiscing elit
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
	
						<!-- TR -->
						<tr class="locked">
							<td colspan="2">
								<h4><a href="forum-post.html">
									This is a locked topic!
								</a>
									<small><a href="profile.html">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->
	
						<!-- TR -->
						<tr class="closed">
							<td colspan="2">
								<h4><a href="forum-post.html">
									This is a closed topic!
								</a>
									<small><a href="javascript:void(0);">John Doe</a> on <em>January 1, 2014</em></small>
								</h4>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">431</a>
							</td>
							<td class="text-center hidden-xs-down hidden-sm-down">
								<a href="javascript:void(0);">1342</a>
							</td>
							<td class="hidden-xs-down hidden-sm-down">by 
								<a href="javascript:void(0);">John Doe</a>
								<br>
								<small><i>January 1, 2014</i></small>
							</td>
						</tr>
						<!-- end TR -->									
						
					</tbody>
				</table>
	
				
	            <nav aria-label="Page navigation example">
				  <ul class="pagination justify-content-center">
				    <li class="page-item"><a class="page-link" href="javascript:void(0);">Prev</a></li>
				    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
				    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
				    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
				    <li class="page-item"><a class="page-link" href="javascript:void(0);">....</a></li>
				    <li class="page-item"><a class="page-link" href="javascript:void(0);">99</a></li>
				    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
				  </ul>
				</nav>
	
			</div>
		
		</div>
	{{/inline}}
{{/layout}}
