{{!-- blank.hbs --}}
{{#> layout title=pageTitle parentPage='smart-admin-intel' firstLevelChild='skins'}}
	{{#*inline "sa-page-content"}}
		
		<div id="content">
			<div class="row hidden-mobile">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="page-title text-blue-dark text-center well">
						SmartAdmin Pre-built Skins<br>
						<small class="text-primary">Don't like the default look of SmartAdmin? Not a problem! SmartAdmin comes with 6 prebuilt skins to choose from.</small>
					</h1>
				</div>
				<!-- end col -->
			</div>

			<!-- widget grid -->
			<section id="widget-grid" class="">
				<!-- row -->
				<div class="row">
					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>Glass</strong>" <br> 
								<small>Add the following class to body tag <code>.smart-style-5</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-glass.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>Material Design</strong>" <sup>beta</sup> <br> 
								<small>Add the following class to body tag <code>.smart-style-6</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-material.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
						
				</div>

				<div class="row">

					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>PixelSmash</strong>" <br> 
								<small>Add the following class to body tag <code>.smart-style-4</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-pixel.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>Dark Elegance</strong>" <br> 
								<small>Add the following class to body tag <code>.smart-style-1</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-dark.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
						
				</div>	

				<div class="row">

					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>Google</strong>" <br> 
								<small>Add the following class to body tag <code>.smart-style-3</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-google.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>Ultra Light</strong>" <br> 
								<small>Add the following class to body tag <code>.smart-style-2</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-ultralight.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
						
				</div>
				<!-- end row -->

				<div class="row">

					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Skin name "<strong>Default</strong>" <br> 
								<small>Add the following class to body tag <code>.smart-style-0</code></small>
							</h5>
							<img src="assets/img/layout-skins/skin-default.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						
					</div>
						
				</div>
				<!-- end row -->

			</section>
		<!-- end widget grid -->


		</div>

	{{/inline}}
{{/layout}}
