/*------------------------------------
  List Styles
------------------------------------*/
.u-list-stack > li {
  position: relative;
}

$i: 1;
@while $i < 20 {
  .u-list-stack > li:nth-child(#{$i}) {
    z-index: (21-$i);
  }
  $i : $i + 1;
}
