.select2-container .select2-choice .select2-arrow,
.select2-container-multi .select2-choices,
.select2-selection--multiple,
.select2-container .select2-choice {
	border-color: $gray-mid-light;
}
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-active .select2-choice {
	box-shadow: none;
	border-color: $primary;
}
.select2-container.select2-dropdown-open .select2-choice {
	.select2-arrow {
		background: none;
		border-color: transparent;
	}
}

.select2-container .select2-choice {
	height: 32px;
	line-height: 32px;
	background: $white;
	border-radius: 0;
}
.select2-container .select2-choice .select2-arrow {
	width: 34px;
	border-radius: 0;
	background: $gray-lighter;
	b {
		background: none;
		font-family: FontAwesome;
		text-align: center;
		font-weight: normal;
		&:before {
			display: block;
			content: "\f107"
		}
	}
}

.select2-results .select2-highlighted {
	background: $primary;
}

.select2-search {
	&:before {
		content: "\f002";
		font-family: FontAwesome;
		right: 10px;
		margin-top: -5px;
		top: 50%;
		position: absolute;
		line-height: 1;
		color: $select2-search-icon;

	}
	input {
		padding: 6px 20px 5px 10px;
		box-shadow: none;
		background: $white;
	    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.85,$white),color-stop(0.99,$gray-lighter));
	    background: -webkit-linear-gradient(center bottom,$white 85%,$gray-lighter 99%);
	    background: -moz-linear-gradient(center bottom,$white 85%,$gray-lighter 99%);
	    background: linear-gradient(top,$white 85%,$gray-lighter 99%)
	}
}

.select2-drop, .select2-dropdown {
	box-shadow: 0 4px 5px rgba($black,.15);
}

.select2-container-multi .select2-choices .select2-search-choice {
	border-color: darken($primary, 5%);
	background: $primary;
	box-shadow: none;
	border-radius: 0;
	color: $white;
	padding: 1px 28px 1px 8px;
	line-height: 18px;
	margin: 4px 0 3px 5px;
}
.select2-search-choice-close {
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    min-height: 20px;
    min-width: 21px;
    position: absolute;
    text-decoration: none!important;
    background: none;
    color: $white;
    text-align: center;
    &:hover {
		color: $white;    	
    }
	&:before {
		line-height: 20px;
		font-size: $baseFontSize;
		content: "\f057";
		display: block;
		font-family: FontAwesome;
	}
}


.select2-container-multi .select2-search-choice-close {
    left: auto;
    right: 0;	
    top: 0;
}