<ul class="notification-body sa-tasks-list list-unstyled">
	<li class="unread">
		<em class="avatar-section bg-blue-light">
			<i class="fa fa-user fa-fw fa-2x"></i>
		</em>
		
		<span>
			 2 new users just signed up! <span class="text-primary">martin.luther</span> and <span class="text-primary">kevin.reliey</span>
			 <br>
			 <span class="pull-right font-xs text-muted"><i>1 min ago...</i></span>
		</span>
	</li>
	<li class="unread">
		<em class="avatar-section bg-purple text-white">
			<i class="fa fa-calendar fa-fw fa-2x"></i>
		</em>
		
		<span>
			 <a href="javascript:void(0);" class="display-normal"><strong>Calendar</strong></a>: Sadi Orlaf invites you to lunch! 
			 <br>
			 <strong>When: 1/3/2014 (1pm - 2pm)</strong><br>
			 <span class="pull-right font-xs text-muted"><i>3 hrs ago...</i></span>
		</span>
	</li>	
	<li>
		<em class="avatar-section bg-blue-light text-white">
			<i class="fa fa-user fa-fw fa-2x"></i>
		</em>
		
		<span>
			 <a href="javascript:void(0);" class="display-normal">Sofia</a> as contact? &nbsp;
			 <button class="btn btn-xs sa-btn-primary margin-top-5">accept</button>
			 <button class="btn btn-xs sa-btn-danger margin-top-5">reject</button>
			 <span class="pull-right font-xs text-muted"><i>3 hrs ago...</i></span>
		</span>
	</li>	
	<li>
		<em class="avatar-section bg-blue">
			<i class="fa fa-facebook fa-fw fa-2x"></i>
		</em>
		
		<span>
			 Facebook recived +33 unique likes
			 <br>
			 <span class="pull-right font-xs text-muted"><i>4 hrs ago...</i></span>
		</span>
	</li>
	<li>
		<em class="avatar-section bg-green">
			<i class="fa fa-check fa-fw fa-2x"></i>
		</em>
		
		<span>
			 2 projects were completed on time! Submitted for your approval - <a href="javascript:void(0);" class="display-normal">Click here</a>
			 <br>
			 <span class="pull-right font-xs text-muted"><i>1 day ago...</i></span>
		</span>
	</li>
	<li>
		<em class="avatar-section bg-green-light">
			<i class="fa fa-lock fa-fw fa-2x"></i>
		</em>
		
		<span>
			 Your password was recently updated. Please complete your security questions from your profile page.
			 <br>
			 <span class="pull-right font-xs text-muted"><i>2 weeks ago...</i></span>
		</span>
	</li>
</ul>